<div>
  <form [formGroup]="frmGuestUser">
    <div>
      <label>تاریخ مجوز</label>

      <!-- Persian (Solar) Datepicker -->
      <ngb-datepicker
        #dp
        [firstDayOfWeek]="6"
        (dateSelect)="onDateSelect($event)"
      >
      </ngb-datepicker>

      <!-- Gregorian Datepicker -->
      <!-- <ngb-datepicker
        #dp
        [firstDayOfWeek]="7"
        (dateSelect)="onDateSelect($event)"
        *ngIf="currentCalendar === 'gregorian'"
      >
      </ngb-datepicker> -->

      <!-- Islamic (Lunar) Datepicker -->
      <!-- <ngb-datepicker
        #dp
        [firstDayOfWeek]="7"
        class="rtl"
        (dateSelect)="onDateSelect($event)"
        *ngIf="currentCalendar === 'lunar'"
      >
      </ngb-datepicker> -->

      <button (click)="toggleCalendar()">Toggle Calendar</button>
    </div>
  </form>
</div>
